* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #6d6464;
}

a {
  display: block;
  margin: 50px;
  padding: 10px;
  max-width: 250px;
  border: 3px solid #6d6464;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: white;
  background-color: #6d6464;
}

#container {
  margin: 50px auto;
  padding: 10px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #6d6464;
}
