<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin.css" />
    <title>Admin</title>
  </head>
  <body>
    <a href="/">main page</a>
    <div class="container">
      <form action="/admin" method="post">
        <h2 class="form__header">Form</h2>
        <input
          id="price"
          name="price"
          type="number"
          placeholder="enter a number"
          required
        />
        <input
          id="date"
          name="date"
          type="datetime-local"
          placeholder="enter a date"
          required
        />
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
