<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Main</title>
  </head>
  <body>
    <a href="/admin">admin page</a>
    <div id="container">
      <p id="paragraph"></p>
      <h1 id="header"><%= data ? data : 0%></h1>
    </div>
    <script>
      const header = document.getElementById('header');
      const paragraph = document.getElementById('paragraph');
      const socket = new WebSocket('ws://localhost:3000/');
      socket.addEventListener('error', (err) => {
        console.error(err);
      });
      socket.addEventListener('message', (msg) => {
        const parsedMsg = JSON.parse(msg.data);
        const price = parsedMsg.price;
        const fromCurrency = parsedMsg.fromCurrency;
        const toCurrency = parsedMsg.toCurrency;

        paragraph.innerHTML = `${fromCurrency} - ${toCurrency}`;
        header.innerHTML = price.toFixed(2);
      });
    </script>
  </body>
</html>
